{% extends "base.html" %}

{% block content %}


    <div style="margin-bottom: 6%" class="container">

        <form action="/housess" style="display: flex; justify-content: center; margin: 4% 0" class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="search_field" name="search_field" aria-describedby="search_field" placeholder="Buscar">
          </div>
          <button style="height: 37px; margin-left: 2%" type="submit" class="btn btn-primary"> Buscar</button>
        </form>

        <div class="row">
            {% for house in casas %}
            <div class="col-md-3">
                <div class="card mb-3">
                    <img style="height: 250px; object-fit: cover"  class="card-img-top" src="{{ house.image }}" alt="Card image cap">
                    <div class="card-body mb-3">
                        <div class="badges pb-2">
                            <span class="badge badge-success">${{ house.price }}</span>
                        </div>
                        <h5 class="card-title">{{ house.city }}</h5>
                        <p class="card-text">{{ house.description }}</p>
                        <a href="#" class="btn btn-primary">Iniciar tramite</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}