{% extends "base.html" %}

{% block content %}


    <div style="margin-bottom: 6%" class="container">

        <form action="{% url 'houses' %}" style="display: flex; justify-content: center; margin: 4% 0" class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="search_field" name="search_field" aria-describedby="search_field" placeholder="Buscar">
          </div>
          <button style="height: 37px; margin-left: 2%" type="submit" class="btn btn-primary"> Buscar</button>

            <button style="height: 37px; margin-left: 2%" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Agregar Propiedad
            </button>

        </form>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva Propiedad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
            {% csrf_token %}

          <div class="form-group">
            <label for="exampleInputEmail1">Ciudad</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ciudad" name="ciudad">

            <label for="exampleInputEmail1">Descripcion</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Descripcion" name="descripcion">

            <label for="exampleInputEmail1">Precio</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Precio" name="precio">

            <label for="exampleInputEmail1">URL de la imagen</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Imagen" name="imagen">

          </div>
          <button type="submit" class="btn btn-primary">Agregar propiedad</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

        <div class="row">
            {% for house in casas %}
            <div class="col-md-3">
                <div class="card mb-3">
                    <img style="height: 250px; object-fit: cover"  class="card-img-top" src="{{ house.image }}" alt="Card image cap">
                    <div class="card-body mb-3">
                        <div class="badges pb-2">
                            <span class="badge badge-success">${{ house.price }}</span>
                        </div>
                        <h5 class="card-title">{{ house.city }}</h5>
                        <p class="card-text">{{ house.description }}</p>
                        <a href="#" class="btn btn-primary">Iniciar tramite</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}